version: "3.8"

services:

  postgres:
      container_name: postgres
      image: postgres:14.1-alpine
      restart: always
      environment:
          - POSTGRES_USER=postgres
          - POSTGRES_PASSWORD=postgres
      ports:
          - '5432:5432'
      networks:
        - app-network
      volumes:
          - postgres:/var/lib/postgresql/data


  backend:
    build:
      context: .
      dockerfile: Dockerfile.backend
    container_name: springboot-backend
    ports:
      - "8086:8080"
    networks:
      - app-network
    restart: unless-stopped
    depends_on:
      postgres:
        condition: service_started

    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080/actuator/health"]
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 30s

  frontend:
    build:
      context: ./frontend
    container_name: react-frontend
    ports:
      - "81:80"
    depends_on:
      backend:
        condition: service_healthy
    networks:
      - app-network
    restart: unless-stopped

networks:
  app-network:


volumes:
   postgres: {}

