name: Automation using GitHub Actions

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker
        run: |
          docker --version
          docker-compose --version

      # - name: Build
      #   run: |
      #     docker-compose build

      - name: Deploy
        run: |
          docker-compose up -d
